/* level 1 */
#pond {
  display: flex;
justify-content: flex-end;
}

/* level 2 */
#pond {
  display: flex;
justify-content: center;
}

/* level 3 */
#pond {
  display: flex;
justify-content: space-around;
}

/* level 4 */
#pond {
  display: flex;
justify-content: space-between;
}